spring:
  datasource:
    url: jdbc:mysql://localhost:3306/moviebookingapp
    username: root
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create
    show-sql: true
jwt:
  secret: uTQRkzeHPp12YhN5sQDy3tBKFTsdc8aUvGJXYWB5tRQ=
  expiration: 3600000
